__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
venv/
env/
.env
*.env
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
.ipynb_checkpoints/
*.ipynb
.aws/
credentials
.DS_Store
Thumbs.db
.streamlit/secrets.toml
